{% extends 'choix/base.html' %}

{% block title %}Choix des stages DESAR Grenoble{% endblock title %}

{% block content %}

<div class="card">
  <div class="card-header">
    <h5 class="card-title">Stages disponibles</h5>
  </div>
  <ul class="list-group list-group-flush">
    {% for stage in liste_stages %}
        <li class="list-group-item">
            {{ stage.intitule }}

            <small class="d-block text-muted"> Durée : {{ stage.duree_en_mois }} mois </small>
            <small class="d-block text-muted">
                Places disponibles : {{ stage.nombre_postes_disponibles }} / {{ stage.nombre_postes_ouverts }}
            </small>
        </li>
    {% endfor %}
  </ul>
</div>

{% endblock content %}